body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
  }

  html {
    scroll-behavior: smooth;
  }

  .white-space {
    width: 100%;
    height: 120px;
    background-color: whitesmoke;
  }

#head {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#brand img {
  font-weight: bold;
  font-size: 24px;
  margin-left: 30px;
  max-width: 150px;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-right: 30px;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 4px 0;
  transition: transform 0.4s;
  z-index: 9999;
}

#mainMenu {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  transition: left 0.3s;
  z-index: 1;
  overflow-y: auto;
}

#mainMenu.active {
  left: 0;
  transform: translateX(0); 
  z-index: 9;
}

#mainMenu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#mainMenu li {
  margin: 20px 0;
  list-style: none;
}

#mainMenu a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  transition: color 0.3s;
}

#mainMenu a:hover {
  color: #FF9900;
  background-color: black;
  padding: 5px 15px;
  font-size: 1.25rem;
  transition: .3s ease;
}

.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 1.5px 0;
    transition: transform 0.4s, opacity 0.4s;
}

.active .bar1 {
    transform: rotate(45deg) translateY(3px) translateX(4px);
}

.active .bar2 {
    opacity: 0;
}

.active .bar3 {
    transform: rotate(-45deg) translateY(-3px) translateX(4px);
}

#head a {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 1300px) {
    #menuToggle {
        display: none;
    }

    #mainMenu {
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        transition: none;
    }
    #mainMenu.active {
        display: inline-block;
    }

    #mainMenu li {
        display: flex;
        list-style: none;
        align-items: last baseline;
        justify-content: space-between;
        height: 5px;
    }

    #mainMenu li {
        margin: 0 20px;
        display: inline;
    }

    
    #mainMenu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-right: 150px;
    }

    #brand {
    font-weight: bold;
    font-size: 24px;
    margin-left: 150px;
    }
    
    #mainMenu a:hover {
      color: #FF9900;
      background-color: transparent;
      padding: 0px;
      font-size: 1rem;
      transition: .3s ease;
    }
}

#section-1 {
  position: relative;
}



.background-image {
  background: url(images/pang-yuhao-_kd5cxwZOK4-unsplash.jpg);
  height: 800px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(70%) grayscale(50%);
}

.sectionOne-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 100px;
}

.buttons-hero {
    display: flex;
    flex-direction: column !important;
    gap: 50px;
}
                    
#section-1 h1 {
  color: white;
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

#contact {
  background-color: blue;
    color: white;
    border-style: none;
    border-radius: 20px;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 15px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .1s;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
  }

#contact:hover {
    cursor: pointer;
}

#contact:active {
    transform: translateY(5px);
    background-color: rgb(0, 217, 255);
}

#alatura-te {
    background-color: transparent;
    outline: 1px solid white;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    border-style: none;
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: .1s;
    max-width: fit-content;
    display: flex;
    align-self: center;
}

#alatura-te:active {
    transform: translateY(5px);
    background-color: white;
    color: black;
}

.sectionTwo-container {
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.part-one, .part-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.part-one {
  background-color: black;
  color: white;
  border-radius: 20px;
  height: 400px;
}

.part-two {
  height: 400px;
  background-color: white;
  border-radius: 20px;
}

.part-one > p, .part-two > p {
  padding-left: 3vh;
  max-width: 500px;
}

.sectionThree-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 50px;
}

.sectionThree-container h2 {
  font-size: 3.25rem;
  font-weight: 400;
  text-transform: uppercase;
}
.team-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 25px;
}

.image {
  background: url(images/coordonator.jpg);
  height: 400px;
  width: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 0 0 20px 20px;
}

.image > div {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 50%);
  backdrop-filter: grayscale(100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: first baseline;
}

.email-coordonator {
  position: absolute;
  top: 90%;
  left: 84%;
  transform: translate(-50%, -50%);
  background-color: blue;
  padding: 15px;
  border-radius: 20px;
}

.image > div > h3, span {
  margin-left: 10px;
  color: white;
  margin-bottom: 10px;
}

.image > div > h3 {
  text-transform: uppercase;
  font-weight: 400;
}

.image > div > span {
  font-weight: 400;
  opacity: .5;
}

.image > div > .email-coordonator {
  display: flex;
}

#section-4 {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#background-35 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(images/35.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 94%;
  height: 100%;
  opacity: .3;
  z-index: -1;
}

.container-section4 {
  margin-right: 5px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  max-width: 600px;
  height: 600px;
}

.container-section4 > h2 {
  text-transform: uppercase;
  color: black;
  text-align: center;
  font-weight: normal;
  font-size: 3.25rem;
}

.container-section4 > p {
  text-align: left;
  padding-left: 5px;
  max-width: 500px;
}

.container-section4 > span {
  color: black;
  opacity: .5;
  font-size: .8rem;
  padding-top: 5px;
}

#formular-btn {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  outline-style: none;
  border-style: none;
  border-radius: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: blue;
  cursor: pointer;
  margin-top: 50px;
  transition: .1s;
}

#formular-btn:active {
  transform: translateY(5px);
  background-color: rgb(0, 217, 255);
}

#section-5 {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#background-5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(images/seats.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  filter: brightness(.3);
  z-index: -1;
  margin-left: 0px !important;
}

#section-5 > h2 {
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 3.25rem;
  word-break: break-all;
}

.evenimente-galerie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 50px;
  justify-content: center;
}

.eveniment {
  max-width: 400px;
  height: 400px;
  backdrop-filter: blur(10px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eveniment h3 {
  font-size: 2.25rem;
}

.eveniment p {
  font-size: 1rem;
}

#event-btn {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  outline-style: none;
  border-style: none;
  border-radius: 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: blue;
  cursor: pointer;
  margin-top: 50px;
  transition: .1s;
}

#event-btn:active {
  transform: translateY(5px);
  background-color: rgb(0, 217, 255);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  height: 250px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.legal-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.legal-links a {
  position: relative;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  opacity: .5;
}

.legal-links a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: blue;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .3s ease-in-out;
}

.legal-links a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.cookie-alert {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: none;
}

.cookie-alert p {
  margin: 0;
}

#acceptCookie {
  background-color: #00a0d8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 4px;
}

#acceptCookie:hover {
  background-color: #0079a1;
}
